<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright 2026 OpenSynergy Indonesia
     Copyright 2026 PT. Simetri Sinergi Indonesia
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). -->
<odoo>
<menuitem
        id="menu_root_promotion"
        name="Promotion"
        web_icon="ssi_promotion,static/description/icon.png"
    />

<menuitem
        id="menu_promotion_configuration"
        name="Configuration"
        parent="menu_root_promotion"
        sequence="99"
    />
</odoo>
